<div class="page" *ngIf="vm$ | async as vm">
  <h2>Introduction</h2>
  <p>This is a small example demonstrating NGRX-forms.</p>
  <p>
    Key to the flux pattern is having a central state.
    The view is simply a pure function of this state:
    state -> view.
  </p>
  <p>
    Forms introduce a new source of truth, local state that lives in the browser only.
    For instance, part of the view is what the user sees as a result of typing in a input field.
    The view is no longer a pure function of the central state.
  </p>
  <p>
    Ngrx-forms is a library that forces forms into the NGRX pattern.
    It dispatches actions on all user interaction with forms and comes with
    out of the box reducers to process them in the store.
    This way the view is a pure function of the central state again.
  </p>
  <h2>Example requirements</h2>
  <ul>
    <li>A simple list of items</li>
    <li>A button to clear the list</li>
    <li>A form to add a new item
      <ul>
        <li>A text field to enter a new item (required)</li>
        <li>A button to add the item to the list</li>
        <li>A checkbox indicating wether the list should be unique
          <ul>
            <li>when checked, you can only add unique items to the list</li>
            <li>once the list isn't unique anymore, the checkbox is disabled</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <h1>List items</h1>
  <ul>
    <li *ngFor="let item of vm.items">{{ item }}</li>
  </ul>
  <button (click)="clear()" type="button" [disabled]="vm.items.length === 0" class="pure-button pure-button-primary">Clear list</button>
  <hr />
  <form
    *ngIf="vm.form as form"
    [ngrxFormState]="form"
    class="pure-form pure-form-stacked"
  >
    <ng-container *ngIf="form.controls.item as control">
      <div [class.invalid]="control.isTouched && control.isInvalid">
        <label for="item" class="pure-checkbox">
          New item:
          <input id="item" [ngrxFormControlState]="control" />
        </label>

        <label *ngIf="control.isTouched ? control.errors : false">
          <span *ngIf="control.errors.required" class="pure-form-message">
            This field is required
          </span>
          <span *ngIf="control.errors.unique" class="pure-form-message">
            This item already exists
          </span>
        </label>
      </div>
    </ng-container>
    <ng-container *ngIf="form.controls.enforceUnique as control">
      <label for="unique" [class.disabled]="control.isDisabled">
        <input id="unique" type="checkbox" [ngrxFormControlState]="control" />
        Enforce unique
      </label>
    </ng-container>

    <hr />
    <button
      (click)="addItem()"
      type="submit"
      [disabled]="vm.form.isInvalid"
      class="pure-button pure-button-primary"
    >
      Add Item
    </button>
  </form>
</div>
