button {
  font-size: larger;
}

chip-filter {
    font-size: larger;
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 50px;
}

@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}

.spinner span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.spinner span:nth-child(2) {
    animation-delay: .2s;
}

.spinner span:nth-child(3) {
    animation-delay: .4s;
}