<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="(viewModel$ | async) as vm">
  <h1>NGRX Sample</h1>
  <p>
    This is a sample app displaying a list of items. Filtering happens server
    side. This results in several async challenges easily solved using NGRX.
  </p>
  <ul>
    <li>
      Clicking the load more button should
      <ul>
        <li>do nothing when a call is already running (as a result of filter or load more)</li>
        <li>load items belonging to the selected filter</li>
        <li>add the new items to the list</li>
      </ul>
    </li>
    <li>
      Clicking a the filter should
      <ul>
        <li>do nothing if the filter is already active</li>
        <li>cancel any running calls (as a result of filter or load more)</li>
        <li>load items belonging to that filter</li>
        <li>replace the current list with the new items</li>
      </ul>
    </li>
  </ul>

  <chip-filter
    [value]="vm.activeFilter"
    [chips]="filters"
    (update)="filterChanged($event)"
  ></chip-filter>
  <p>number of results: {{ vm.itemCount }}</p>
  <ul>
    <li *ngFor="let item of vm.items">{{ item.value }}</li>
  </ul>
  <button (click)="loadMoreItems()">
    load more items
    <span *ngIf="vm.isLoading" class="spinner"
      ><span>.</span><span>.</span><span>.</span></span
    >
  </button>
</div>
